@mixin card-base {
    border-radius: $radius-lg;
    background: $degradee-background;
    box-shadow: $light-shadow;
    padding: $space-md;
    border: 1px solid $card-border-color;
    color: $text-color;

}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card-hover {
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
}