// // Variables.scss

// Colors.
$primary-color: #4caf4fb6;
$secondary-color: #4caf50;
$dark-background-color: #333;
$light-background-color: #2c2c2c;
$card-border-color: #4caf50;
$text-color: #919191;
$text-button-color: #ffffffc2;
$degradee-background: linear-gradient(to bottom right, $light-background-color, #000);


// Font size.
$base-font-size: 16px;
$heading-font-size: 24px;
$paragraph-font-size: 14px;

// Spacing.
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;

// Radius
$radius-sm: 5px;
$radius-lg: 20px;

// shadows
$light-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
