/* CSS */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.upload-form {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.upload-form .form-group {
    margin-bottom: 20px;
}

.upload-form label {
    display: block;
    margin-bottom: 5px;
}

.upload-form input[type="file"],
.upload-form button {
    width: calc(100% - 24px);
    /* Subtracting padding from the total width */
    padding: 12px;
    margin-bottom: 10px;
    /* Adding some spacing between the elements */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f9fa;
    transition: border-color 0.3s ease;
    display: block;
    /* Ensuring they are block elements */
}

.upload-form input[type="file"]:focus {
    outline: none;
    border-color: #007bff;
}

.upload-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-form button:hover {
    background-color: #0056b3;
}