button {
        margin-left: 10px;
        padding: 5px 10px;
        border: none;
        border-radius: $radius-sm;
        background-color: $primary-color;
        color: $text-button-color;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: $secondary-color;
        }
    }