
.card {
    @include card-base;
    // @include card-hover;
    flex-direction: column;
    width: 220px;
    margin: 10px;

    h2 {
        font-size: $heading-font-size;
    }

    p {
        font-size: $base-font-size;
    }

    &.card-large {
    flex-grow: 2;
    min-width: 500px;
    max-width: 700px;
    min-height: 500px;
    height: 100%;
    }

    &.card-medium {
        flex-grow: 1.5;
    }

    &.card-small {
        flex-grow: 1;
    }
}

.card-large {
  @include card-base;
  width: 320px;
  margin: 10px;


  .card-header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  .card-body {
    text-align: left;
    padding: $space-md;
  }

  .card-footer {
    margin-top: $space-sm;
    font-size: 12px;
    text-align: center;
    color: lighten($text-color, 20%);
  }
}