// Navbar.scss

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to bottom right, $light-background-color, #000);
    border: 1px solid $card-border-color;
    /* Light green background color */
    color: $text-color;
    /* White text color */
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

.navbar-link:hover {
    color: $secondary-color;
    /* White text color on hover */
}