.profile-container{

    display: flex;
    gap: $space-md;
    padding: $space-md;
    overflow-y: auto;
    margin: 10px;
    flex: 1;


}

.profile-card{
    @include card-base;
    @include custom-scrollbar($primary-color);
    flex-direction: column;
    width: 220px;
    max-height: 200px;
    height: 100%;



    &__footer{
        align-items: center;

    }

}

.profile-button {
    @include button-base;
    margin-left: 10px;
    padding: 5px 10px;

    &:hover {
        background-color: $secondary-color;
    }
    }